*{
  box-sizing: border-box;
}

 
    body{
      background-image: url("img/240_F_190012418_fwCOPSmMrcEz26tuLVmbiywlAT8kZAB4.jpg");
      /* background-repeat: no-repeat; */
      background-size: contain;
      background-color: rgba(0, 0, 0, 0.881);
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    
    h1{
      color: E36BAE;
      /* margin: 2%; */
      margin-top: 2%;
      text-shadow:4px 4px 8px rgba(255, 255, 255, 0.326);
    }
    
    #wholeGame{
      display: flex;
      justify-content: space-between;
      margin: 2%;
    }

    .message{
      background-color: rgba(0, 0, 0, 0.881);
      position: absolute;
      height: 475px;
      width: 50%;
      text-align: center;
      color: E36BAE;
      padding: 8%;
    }

    h2{
      color: 771144;
      margin: 4%;
    }

    .inputs{
      height: 5%;
      width: 20%;
      margin: 4%;
      min-height: 10%;
      min-width: 30%;

    }

    h5{
      color: 771144;
      margin: 4%;
    }

    button {
      margin: 4%;
     height: 40px;
     width: 117px;
      border-color: E36BAE;
      border-radius: 30px;
      transition: width 0.5s;
  }
    button:hover{
      cursor:hand;
      box-shadow: 0 4px 16px 0 rgba(155, 255, 255, 0.176);
      width: 160px;
     }


    .scoreBoard{
      color: E36BAE; /*E5D429;*/
      flex: 1;
      font-family: cursive;
      font-size: x-large;
      text-shadow:4px 4px 8px rgba(0, 0, 0, 0.582);;
    }

    .names{
      margin: 0%;
    }

    #gameTable{
      /* position: static; */
      height: 80vh;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-shadow: rgba(37, 36, 36, 0.575);
    }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 771144;
    color: black;
    font-size: 150%;
    font: bolder;
    height: 100px;
    width: 12%;
    margin:1.5%;
    /* padding-top: 27px; */
    border-radius:  3px;
    
   }  
  

   .card:hover{
    cursor:hand;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.176);
   }


   #endMes{
    color: 771144;
    padding: 8%;
    font-size: xx-large;
   }

   @media screen and (max-width: 600px) {
    #gameTable{
      width: 100%;
    }

  }